[submodule "federator/.api"]
	path = federator/.api
	url = https://github.com/miyamo2/schema.miyamo.today
[submodule "protogen/.proto"]
	path = protogen/.proto
	url = https://github.com/miyamo2/proto.miyamo.today
[submodule "article-service/.proto"]
	path = article-service/.proto
	url = https://github.com/miyamo2/proto.miyamo.today
[submodule "tag-service/.proto"]
	path = tag-service/.proto
	url = https://github.com/miyamo2/proto.miyamo.today
[submodule "federator/.proto"]
	path = federator/.proto
	url = https://github.com/miyamo2/proto.miyamo.today
