name: ci_core

on:
  push:
    branches:
      - "feat/**"
      - "refactor/**"
      - "bugfix/**"
      - "hotfix/**"
    paths:
      - "core/**"
      - "!core/echo/**"
      - "!core/graphql/**"
      - "!core/grpc/**"
  pull_request:
    branches:
      - "main"
      - "develop"
    paths:
      - "core/**"
      - "!core/echo/**"
      - "!core/graphql/**"
      - "!core/grpc/**"

permissions: write-all

jobs:
  ci:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/custom_actions/ci/
        with:
          target: core
          github_workspace: ${{ github.workspace }}
          codecov_token: ${{ secrets.CODECOV_TOKEN }}